@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("header.css");
@import url("cuidado.css");
@import url("problemaSolucao.css");
@import url("formulario.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --cor-principal: #495057;
  --cor-secundaria: #000000;
  --cor-terciaria: #b3ded5;
  --cor-fonte-pricipal: #ffffff;
  --cor-fonte-secundaria: #000000;
  --fonte-montserrat: "Montserrat", sans-serif;
}

body {
  color: var(--cor-fonte-pricipal);
  background: var(--cor-principal);
  font-family: var(--fonte-montserrat);
}

.divisor {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.divisortres {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.divisor__img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 480px) {
  .divisor {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
}